ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
    background-color: #fff6ea;
    position: sticky; /* navbar remains in place when scrolling up & down the page */
    top: 0;
    width: 100%;
    font-family:'Futura' 'Trebuchet MS', Arial, sans-serif;
}
li {
    padding-right: 50px;
    float: left;
}
li a {
    display: block;
    color: #7d4218;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
}
li a:hover:not(.active) {
    background-color: #fff6ea;
}
.active {
    background-color: #fff6ea;
    }
#right {
    float: right
}    
.logoimage {
    float: left;
    width: 90px;
  }

  